<style type="text/css">
 p { text-indent : 20px; }

a:link {
COLOR: #E24B3B;
}
a:visited {
COLOR: #E24B3B;
}
a:hover {
COLOR: #E24B3B;
}
a:active {
COLOR: #E24B3B;
}


</style>


<strong>Modus Operandi for Mission and Project Feed &#60;</strong>
<br>&#160;



<p>Circa 2004 - 2007, I did many a teaching internships and jobs. Math, Science, Chemistry, Computers, Public Speaking, I covered quite a bit with middle school students from <a href="http://www.breakthroughcollaborative.org/">Breakthrough Collaborative Sacramento</a>. At times though when teaching computer skills to students, you know the alleged fundamentals of MS Word processing/keyboarding, using a search engine, and creating an email account, I thought a lot about my own middle school and high school education.

<p>"Kids" go to school and learn the classic basic "R's" or Reading, Writing, and 'Rthmatic, but before and after school they use and fluently operate in the Youtube, Instagram, Blogspot--you name it--society and world.  And yet in the classroom, you just have basic wordprocessing being taught. Kids are <strong>taught disconnected skills</strong> in the classroom, to those leveraged in the rapidly evolving world surrounding them.

<p>I dreamed back in 2005 of creating a webapp or a means whereby kids could comment on one anothers papers and assignments in a moderated teacher directed fashion. While I encountered a bit of interactive English Literature composition in College, here is <strong>Iteration #1</strong> of a basic Learning Management System.

<p><strong>Feed &#60; the Peer Review App for Teachers and Students</strong> to evaluate papers within a classroom and assignment. The goal is to make it plug and play for a teacher or websavvy school administrator to implement.  It allows for admins, teachers, and students to create papers and comment on them.  The goal is for the student to reflect back, see others input, and make another next best creation based on the <strong>"Feed &#60;"</strong>

<div style="text-align: right;"><em>~Jonathan Lai</em></div>

