<style type="text/css">


a:link {
COLOR: #E24B3B;
}
a:visited {
COLOR: #E24B3B;
}
a:hover {
COLOR: #E24B3B;
}
a:active {
COLOR: #E24B3B;
}


</style>

<br>

<div style="margin-left: 40px;"><strong>Backend Rails Gems</strong><br>
  <ul>
    <li><a href="https://github.com/plataformatec/simple_form">Simple_form</a></li>
    <li><a href="https://github.com/arunagw/omniauth-twitter">Omniauth-twitter</a></li>
    <li><a href="https://github.com/jnicklas/carrierwave">Carrierwave</a></li>
    <li><a href="https://github.com/fog/fog">Fog with AWS</a></li>
    <li><a href="https://github.com/elight/acts_as_commentable_with_threading">Acts_as_commentable_with_threading</a></li>
    <li><a href="http://haml.info/">Haml</a></li>
  </ul>
  <br>
  <strong>Frontend plugins</strong><br>
  <ul>
    <li><a href="https://github.com/thomas-mcdonald/bootstrap-sass">Bootstrap-sass gem</a></li>
    <li><a href="http://bootswatch.com/flatly/">Bootswatch Bootstrap overlay</a></li>

    <li><a href="http://clearideaz.com/assets/jkerny/">jKerny.js</a></li>
    <li><a href="http://pdfobject.com/">PdfObject.js</a></li>
    <li><a href="http://usablica.github.io/intro.js/">Intro.js</a></li>
  </ul>
  <br>
  <strong>Github Code</strong><br>
  <ul>
    <li><a href="https://github.com/agsdot/peerreview2">Project Source Code</a></li>
  </ul>
  <br>
  <strong>Database Schemata</strong><br>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ---&lt;
  JoinTableCourseStudents &gt;--<br>
  Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp; Courses ----&lt; Assignments ----&lt; Papers ----&lt;
  Comments <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ---&lt;
  JoinTableCoursesTeachers &gt;--<br>
  <br>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</div>
<br>
<br><br>