

<style type="text/css">

.example7 p {
  font-size: 2em;
  color: #F4F1DE;
  text-transform:uppercase;
}

.example7 p:letter {
  width: 1em;
  height: 1.2em;
  text-align: center;
  padding-top: 6px;
}

.example7 p:letter:nth-child(odd) {
  -webkit-transform: skewY(-15deg);
  -moz-transform: skewY(-15deg);
  -o-transform: skewY(-15deg);
  transform: skewY(-15deg);
  background-color: #566DFF;
}

.example7 p:letter:nth-child(even) {
  -webkit-transform: skewY(15deg);
  -moz-transform: skewY(15deg);
  -o-transform: skewY(15deg);
  transform: skewY(15deg);
  background-color: #49C1FF;
}

.pre, pre {
  /*background:#ebebeb;*/
/*  border:2px solid #ccc;*/
  padding:25px 0 0 0;
  margin:5px 0;
  vertical-align:middle;
  overflow:auto;
  text-align: right;
}

</style>

<div class="pre example7">
  <p>Courses</p>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://clearideaz.com/assets/jkerny/lib/jkerny.js"></script>
